.results {
    height: 40vh;
    background-color: var(--secondary-color);
    width: 40vw;
    border-radius: 0.8rem;
}

.container {
    padding: 0.5rem;
    height: 95%;
    display: flex;
    justify-content: space-between;
}

.avatar {
    background-color: aliceblue;
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-avatar {
    margin-top: 0.5rem;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
    border-radius: 50%;
}

.personnal {
    color: black;
    background-color: aqua;
    margin-top: 1rem;
    width: 100%;
    height: 50%;
}

.name {
    margin: 0.5rem;
}

.info {
    background-color: aliceblue;
    width: 69%;
    height: 100%;  
}