.search-bar {
    height: 7vh;
    background-color: var(--secondary-color);
    width: 25vw;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}